Q1. Explain with an example each when to use a for loop and a while loop.

for loop- are usad to iterate all the sequence.

In [1]:
l= ["sagar", 4, 6, 2]

for i in list(range(len(l)-1,-1,-1)):
    print(l[i])

2
6
4
sagar

while loop- are usad to check the condition untill it is fullfilled.

In [51]:
i = 1
while i < 7:
    print(i)
    if i == 5:
        break
    i += 1

1
2
3
4
5

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

for loop (SUM)-

In [52]:
N= 10
for i in range(0,N):
    N= N+i
print ("SUM", N)

SUM 55

for loop (Product)

In [53]:
N= 10
for i in range(1,N):
    N= N*i
print ("product", N)

product 3628800

while loop (SUM)-

In [31]:
N = 0
i = 1
while i <= 10:
    N += i
    i += 1
print("sum :", N)

sum : 55

In [38]:
N = 1
i = 1
while i <= 10:
    N= N*i
    i+= 1
print ("product", N)

product 3628800

Q3. Create a python program to compute the electricity bill for a household.

A- The per-unit charge in rupee are as follows: 
B- For the first 100 units, the user will be charged Rs. 4.5 per
   unit, 
C- for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
   be charged Rs. 10 per unit, 
D- After 300 units and above the user will be charged Rs. 20 per unit.
   You are required to take the units of electricity consumed in a month from the user as input.
   Your program must pass this test case: when the unit of electricity consumed by the user in a month is
   310, the total electricity bill should be 2250.

In [54]:
unit= int(input("Enter the unit"))

if (unit >= 0 and unit <= 100):
    Total = unit * 4.5
        
elif (unit > 100 and unit <= 200):
    Total = ((100 * 4.5) + (unit-100) * 6)

elif (unit > 200 and unit <= 300):
    Total= ((100 * 4.5) + ( 100* 6) + ((unit-200) * 10))
    
else:
    Total= ((100 * 4.5) + ( 100* 6) + (100 * 10) + ((unit - 300) * 20))

print("Electricity Bill =",  Total)

Enter the unit 310

Electricity Bill = 2250.0

Q4. Create a list of number from 1 to 100. 

A- Use for loop and while loop to calculate the cube of each number 
B- and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [57]:
l= list(range(1,101))

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [61]:
### A- Use for loop to calculate the cube of each number 

l= list(range(1,101))
cube = []
for i in l:
    cube.append(i*i*i)
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [3]:
cube = []
i = 1
while i <= 100:
    b = i**3
    cube.append(b)
    i += 1
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [40]:
l = list(range(1,101))
cube = []
for i in l:
    if (i*i*i) % 4 == 0 or (i*i*i) % 5 == 0:
         cube.append(i*i*i)
print(cube)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [2]:
cube = []
i = 1
while i <= 100:
    x = i*i*i
    if x % 4 == 0 or x % 5 == 0:
        cube.append(x)
    i += 1
print(cube)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [44]:
l= [i**3 for i in range(1,101) if (i**3) % 4 == 0 or (i**3) % 5 ==0]

print (l)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5. Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [4]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0

for i in string:
    if i in vowels:
        count += 1
print(count)

12